{% extends 'blog/base.html' %}
{% load static %}

{% block title %}{{ block.super }}{% endblock %}

{% block content %}


 <section class="blog-post-area">
            <div class="container">
                <div class="row">
                    <div class="border-top">
                        <div class="blog-post-area-style">
                            {% for item in news %}
                                <div class="col-md-3">
                                    <div class="single-post">
                                        <h3><a href="{{ item.get_absolute_url }}">{{ item.name }}</a></h3>
                                        <h4><span>By: <span class="author-name">{{ item.author }}</span></span>
                                        </h4>
                                        {{ item.details|truncatewords_html:30 }}
                                        <h4><span>{{ item.date}}</span></h4>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            {% if page_obj.has_other_pages %}
            <div class="pegination">
                <div class="nav-links">

                    {% for p in page_obj.paginator.page_range %}
                        {% if page_obj.number == p %}
                            <span class="page-numbers current">{{ p }}</span>
                        {% else %}
                            <a class="page-numbers" href="?page={{ p }}">{{ p }}</a>
                        {% endif %}
                    {% endfor %}

                </div>
            </div>
            {% endif %}

        </section>

{% endblock %}